p {
    position: absolute;
    top: 2860px;
    left: 70px;
    z-index: 1;
}

.baloon {
    position: absolute;
    top: 2800px;
}

.bowser {
    position: absolute;
    left: 300px;
}

.super-mario, .goomba {
    display: block;
}